<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- version 5.15.14 de FONTAWESOME -->
  <script src="https://kit.fontawesome.com/ad85f89714.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- <link rel="stylesheet" href="/css/home-style.css"> -->
  <link rel="stylesheet" href="/css/style.css">
  <title>La Union</title>
</head>

<body>

  <header>
    <div class="icono">
      <a href="/">
        <img src="/img/logo.png">
      </a>
    </div>
    <a href='#' class="hamburger-button">
      <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="menu">
      <ul type="none">
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Juegos</a></li>
        <li><a href="#">Figuras</a></li>
        <li><a href="#">Buscar</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign-Up</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <div class="main">
      <div class="contenedor-carrito">
        
        <div class="img-contenedor-carrito">
          <img id="producto" src="/img/spiderman.jpg" alt="spiderman">
        </div>
        <div class="description-carrito">
          <div class="titulo-descripcion-carrito">
            <h3>Spiderman edicion Gold</h3>
            <p>Coleccion limitada de unas de las artes mas prestigiadas de stanLee</p>
          </div>
          <div>
            <span class="precio-regular">7,29€ </span><span class="precio-oferta">5,99€</span>
            <div class="cantidad-producto">
              <br>
              <label for="1">Cantidad: </label>
              <input type="number" name="1" id="1" min="1">
              <button class="button-quitar">X</button>
            </div>
          </div>
        </div>
        <div class="img-contenedor-carrito">
          <img id="producto" src="/img/spiderman.jpg" alt="spiderman">
        </div>
        <div class="description-carrito">
          <div class="titulo-descripcion-carrito">
            <h3>Spiderman edicion Gold</h3>
            <p>Coleccion limitada de unas de las artes mas prestigiadas de stanLee</p>
          </div>
          <div>
            <span class="precio-regular">7,29€ </span><span class="precio-oferta">5,99€</span>
            <div class="cantidad-producto">
              <br>
              <label for="1">Cantidad: </label>
              <input type="number" name="1" id="1" min="1">
              <button class="button-quitar">X</button>
            </div>
          </div>
        </div>
        <div class="img-contenedor-carrito">
          <img id="producto" src="/img/spiderman.jpg" alt="spiderman">
        </div>
        <div class="description-carrito">
          <div class="titulo-descripcion-carrito">
            <h3>Spiderman edicion Gold</h3>
            <p>Coleccion limitada de unas de las artes mas prestigiadas de stanLee</p>
          </div>
          <div>
            <span class="precio-regular">7,29€ </span><span class="precio-oferta">5,99€</span>
            <div class="cantidad-producto">
              <br>
              <label for="1">Cantidad: </label>
              <input type="number" name="1" id="1" min="1">
              <button class="button-quitar">X</button>
            </div>
          </div>
        </div>
        <div>
          <button class="button-confirmarCompra">Confirmar Compra</button>
        </div>
      </div>
    </div>
    </div>
  </main>

  <!-- <div class="confirmar-compra">
    <button>Confirmar compra</button>
  </div> -->

  <section class="footer">
    <div class="social">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-snapchat"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
    <p class="copyright">Grupo 02 La-Unión @ 2022</p>
  </section>
</body>

</html>