<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- version 5.15.14 de FONTAWESOME -->
  <script src="https://kit.fontawesome.com/ad85f89714.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/carrito.css">
  <title>La Union</title>
</head>

<body>
  <header>
    <img src="/img/icono.png" alt="Logo-Union-2">
    <img id="logo-principal" src="/img/launion.png" alt="logo-principal">
    <div class="nav-bar">
      <ul>
        <li><a href="/">INICIO</a></li>
        <li><a href="#">BIBLIOTECA</a></li>
        <li><a href="#">JUEGOS</a></li>
        <li><a href="#">FIGURAS</a></li>
        <li><a href="#"><i class="fas fa-search"></i></a></li>
        <li><a href="/register">REGISTRO</a></li>
        <li><a href="/login"><i class="fas fa-ghost fa-lg"></i></a></li>
      </ul>
    </div>
  </header>
  

  <main>

    <div class="contenedor2">

      <div class="div-nav">
        <ul class="nav-bar-carrito">
          <li>
            Mi Cesta
          </li>
          <li>
            Envio
          </li>
          <li>
            Facturacion
          </li>
          <li>
            Finalizar
          </li>
        </ul>
      </div>
      
      <div class="detalle-carrito">
        <div class="carrito-imagenes">
          <img class="carrito-img" src="/img/carrito-batman-pop.jpg" alt="item">
        </div>
        <div>
          <h3>POP batman - edicion 243</h3>
          <p>Precio: <span>43€</span></p>
        </div>
      </div>

    </div>

  </main>


  <footer>
    <div class="icons-footer">
      <div class="space-icons">
        <i class="fab fa-facebook-f fa-4x"></i>
        <i class="fab fa-tiktok fa-4x"></i>
        <i class="fas fa-envelope fa-4x"></i>
        <i class="fab fa-instagram-square fa-4x"></i>
        <i class="fab fa-twitch fa-4x"></i>
        <i class="fab fa-twitter fa-4x"></i>
      </div>
    </div>
  </footer>
</body>

</html>