<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/home-style.css">
</head>

<body>
    <header>
        <div class="icono">
            <a href="/">
                <img src="/img/logo.png">
            </a>
        </div>
        <a href='#' class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="menu">
            <ul type="none">
                <li><a href="#">Biblioteca</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="#">Bucar</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign-Up</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <img class="banner" src="/img/img-home-banner.jpg" alt="Banner MercadoLiebre">
    </div>
    <main>
        <section class="biblioteca">
            <h2>BIBLIOTECA</h2>
            <hr>
            <div class="contenedor-productos">
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/comic1.jpg" width="100" alt="imagen de la cafetera">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/comic2.jpg" alt="imagen de MacBook">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/comic3.jpg" alt="imagen del Samsung Galaxy">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/comic4.jpg" alt="imagen del SmartTv">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="juegos">
            <h2>JUEGOS</h2>
            <hr>
            <div class="contenedor-productos">
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/juego1.jpg" alt="imagen de la cafetera">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/juego2.jpg" alt="imagen de MacBook">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/juego3.jpg" alt="imagen del Samsung Galaxy">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/juego4.jpg" alt="imagen del SmartTv">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="figuras">
            <h2>FIGURAS</h2>
            <hr>
            <div class="contenedor-productos">
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/figura1.png" alt="imagen de la cafetera">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/figura2.png" alt="imagen de MacBook">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/figura3.png" alt="imagen del Samsung Galaxy">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <p class="descripcion">Título del producto</p>
                    <img src="/img/figura4.png" alt="imagen del SmartTv">
                    <div class="caracteristicas">
                        <i class="fa-solid fa-basket-shopping circulo"></i>
                        <div class="precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <section class="footer">
        <div class="social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-snapchat"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
  
        <ul class="list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="copyright">Grupo 02 La-Unión @ 2022</p>
    </section>
</body>
</html>