<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- version 5.15.14 de FONTAWESOME -->
    <script src="https://kit.fontawesome.com/ad85f89714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>La Union</title>
</head>
<body>
    <header>
        <img src="/img/comic 3.jPG" alt="Logo-Union-2">
        <h1>La Union</h1>
        <div class="nav-bar">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">BIBLIOTECA</a></li>
                <li><a href="#">JUEGOS</a></li>
                <li><a href="#">FIGURAS</a></li>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="fas fa-ghost"></i></a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="contenedor">
          <div>
            <img class="img-contenedor" src="/img/spiderman.jpg" alt="spiderman">
          </div>
          <div class="titulo-descripcion">
            <h3>Spiderman edicion Gold</h3>
          </div>
          <div class="especificacion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repudiandae nam quisquam laboriosam, pariatur ratione blanditiis nesciunt aut molestiae quod repellat minima optio ex quaerat excepturi quo illo perspiciatis dignissimos.</p>
          </div>
        </div>
    </main>
    <footer>
        <div class="icons-footer">
            <div class="space-icons">
                <i class="fab fa-facebook-f fa-4x"></i>
                <i class="fab fa-tiktok fa-4x"></i>
                <i class="fas fa-envelope fa-4x"></i>
                <i class="fab fa-instagram-square fa-4x"></i>
                <i class="fab fa-twitch fa-4x"></i>
                <i class="fab fa-twitter fa-4x"></i>
            </div>
        </div>
    </footer>
</body>
</html>