<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="icono">
            <a href="/">
                <img src="/img/logo.png">
            </a>
        </div>
        <a href='#' class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="menu">
            <ul type="none">
                <li><a href="#">Biblioteca</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="#">Bucar</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign-Up</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <div class="espacio-imagen">
            <img src="/img/fondo-reglog8.jpg">
        </div>
        <div class="espacio-formulario">
            <div class="formulario">
                <h2>Inicio de sesión</h2>
                <form>
                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <div class="inputIcon">
                            <input type="text" name="email" id="email" class="" required>
                        </div>
                    </div>
                    <div class="inputBx">
                        <label>Contraseña</label>
                        <div class="inputIcon">
                            <input type="password" name="password" id="password" class="" required>
                        </div>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name="rememberMe"> Recuérdame</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Ingresar">
                    </div>
                    <div class="inputBx">
                        <p>¿No tienes una cuenta? <a href="/register">Crear cuenta</a></p>
                    </form>
                </div>
            </div>
            </form>
        </section>
</body>
    
</html>