<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <header>
            <img src="/img/launion.png" class="img-header">
        </header>
        <form class="formulario">
            <div class="cabecera">
                <img src="/img/icono.png" class="icono">
                <h1>Regístrate</h1>
            </div>
            <div class="contenedor">

                <div class="input-contenedor">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo" required>
                </div>
                <div class="input-contenedor">
                    <i class="fa-solid fa-envelope icon"></i>
                    <input type="email" name="email" id="email" class="campo-texto" placeholder="Correo Electrónico"
                        required>
                </div>
                <div class="input-contenedor">
                    <i class="fa-solid fa-key icon"></i>
                    <input type="password" name="password" id="password" class="campo-texto" placeholder="Contraseña"
                        required>
                </div>
                <div class="input-contenedor">
                    <i class="fa-solid fa-circle-exclamation icon"></i>
                    <input type="password" name="password-confirm" id="password" class="campo-texto"
                        placeholder="Confirme su contraseña" required>
                </div>
                <button type="submit" class="button">
                    Regístrate
                </button>
                <p>
                    Al regístrate, aceptas nuestras condiciones de uso y política de privacidad
                </p>
                <hr>
                <p>
                    ¿ No tienes una cuenta ? <a href="/login" class="link">Iniciar Sesión</a>

                </p>
            </div>
        </form>
    </div>
</body>

</html>