<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/login-register.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="icono">
            <a href="/">
                <img src="/img/logo.png">
            </a>
        </div>
        <a href='#' class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="menu">
            <ul type="none">
                <li><a href="#">Biblioteca</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="#">Figuras</a></li>
                <li><a href="#">Bucar</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign-Up</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <form class="formulario">
        </form>
    </div>
</body>

</html>