<header>
    <div class="icono">
        <a href="/">
            <img src="/img/logo.png">
        </a>
    </div>
    <a href='#' class="hamburger-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="menu">
        <ul type="none">
            <li><a href="/products/biblioteca">Biblioteca</a></li>
            <li><a href="/products/juegos">Juegos</a></li>
            <li><a href="/products/figuras">Figuras</a></li>
            <% if (locals.isLogged) { %>
                <div class="dropdown">
                    <li><a class="menu-usuario" href="#">
                        <img src="/imgUsers/<%= locals.userLogged.avatar %> " width="40" style="border-radius: 100%;">
                        Welcome <%= locals.userLogged.user  %>
                    </a>
                        <div class="dropdown-content">
                            <ol class="lista-desplegable">
                                <li><a href="/users/profile">Profile</a></li>
                                <li><a href="/users/logout">Logout</a></li>
                            </ol>
                        </div>
                    </li>
                </div>
            <% } else { %>
                <li><a href="#">Buscar</a></li>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
            <% } %> 
            
        </ul>
        
    </nav>
</header>