<header>
    <div class="icono">
        <a href="/">
            <img src="/img/logo.png">
        </a>
    </div>
    <a href='#' class="hamburger-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="menu">
        <ul type="none">
            <li><a href="/products/biblioteca">Biblioteca</a></li>
            <li><a href="/products/juegos">Juegos</a></li>
            <li><a href="/products/figuras">Figuras</a></li>
            <li><a href="#">Buscar</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Sign-Up</a></li>
        </ul>
    </nav>
</header>