<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/headUsers.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    
    <section class="mainlog">
        <div class="espacio-imagen-login">
            <img src="/img/fondo-reglog8.jpg">
        </div>
        <div class="espacio-formulario">
            <div class="formulario">
                <h2>Inicio de sesión</h2>
                <form action="/users/login" method="post">
                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <div class="inputIcon">
                            <input type="text" name="email" id="email" class="">
                            <% if (locals.errors && errors.email) { %>
                                <p id="ErrFormulario">* <%= errors.email.msg %></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="inputBx">
                        <label>Contraseña</label>
                        <div class="inputIcon">
                            <input type="password" name="password" id="password" class="">
                        </div>
                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name="rememberMe"> Recuérdame</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Ingresar">
                    </div>
                    <div class="inputBx">
                        <p>¿No tienes una cuenta? <a href="/users/register">Crear cuenta</a></p>
                    </form>
                </div>
            </div>
            </form>
        </section>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
    
</html>