<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../partials/headUsers.ejs') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/ABMproducts.css">

    <div class="main__container">
      <div class="Contenedor-formulario">
        <form class="main__form" action="#" method="PUT">
          <h2>Crear producto</h2>
          <div class="inputFormulario">
            <input type="text" class="text-box" id="Name" name="Name" placeholder="Ingrese nombre del producto" required>
          </div>
          <div class="inputFormulario">
            <input type="text" class="text-box" id="Description" name="Description" placeholder="Descripcion del producto" required>
          </div>
          <div class="inputFormulario">
            <input type="text" class="text-box" id="Price" name="Price" placeholder="Precio total" required>
          </div>
          <div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese la descripción del producto"></textarea>
          </div>
          <div class="filePhoto">
            <label class="labelImagen">Seleccione imagen de articulo</label>
         <input type="file" name="articulo" accept=".jpg" multiple>
          </div>
          <div class="Category">
            <label class="tituloProducto" for="Category ID">Categoria</label>
            <select name="Category ID">
                <option value="1">Libros</option>
                <option value="2">Juegos</option>
                <option value="3">figuras</option>
              </select>
          </div>
          <button class="enviar-form-abm" type="submit">Crear</button>
        </form>
      </div>
          
    
      <!-- FOOTER -->
      <%- include('../partials/footer.ejs') %>
    
    </body>
    
    </html>