<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/headProducts.ejs') %>

<body>
  
  <header>
    <div class="icono">
        <a href="/">
            <img src="/img/logo.png">
        </a>
    </div>
    <a href='#' class="hamburger-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="menu">
        <ul type="none">
            <li><a href="#">Biblioteca</a></li>
            <li><a href="#">Juegos</a></li>
            <li><a href="#">Figuras</a></li>
            <li><a href="#">Buscar</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign-Up</a></li>
        </ul>
    </nav>
  </header>
  <div>
    <img class="banner" src="/img/img-home-banner.jpg">
  </div>
  <main>
    <div class="contenedor">
      <div class="img-contenedor">
        <img id="producto" src="/img/spiderman.jpg" alt="spiderman">
      </div>
      <div class="description">
        <div class="titulo-descripcion">
          <h3>Spiderman edicion Gold</h3>
          <p>Coleccion limitada de unas de las artes mas prestigiadas de stanLee</p>
          <a href="#">otro producto de misma coleccion</a>
          <br>
          <a href="#">otro producto del mismo autor</a>
          <br>
          <button class="button-quiero-coleccion">Si quiero inscribirme en esta coleccion</button>
        </div>
        <div class="especificacion">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repudiandae nam quisquam laboriosam,
            pariatur ratione blanditiis nesciunt aut molestiae quod repellat minima optio ex quaerat excepturi quo illo
            perspiciatis dignissimos.</p>
        </div>
        <div class="medidas">
          <p>Ancho: <span>170mm</span></p>
          <p>Largo: <span>270mm</span></p>
          <p>Peso: <span>250gr</span></p>
        </div>
        <div>
          <button class="button-preventa">PREVENTA</button>
        </div>
        <div>
          <span class="precio-regular">7,29€ </span><span class="precio-oferta">5,99€</span>
        </div>
        <div>
          <button class="button-stock">Si, quiero que me avises cuando haya Stock</button>
        </div>
        <div>
          <button class="button-cesta">
            Añadir a la Cesta
          </button>
        </div>
      </div>
    </div>
    </div>
  </main>

  <!-- FOOTER -->
  <%- include('../partials/footer.ejs') %>

</body>

</html>