<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- version 5.15.14 de FONTAWESOME -->
  <script src="https://kit.fontawesome.com/ad85f89714.js" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>La Union</title>
</head>

<body>
  
  <header>
    <div class="icono">
        <a href="/">
            <img src="/img/logo.png">
        </a>
    </div>
    <a href='#' class="hamburger-button">
        <i class="fa-solid fa-bars"></i>
    </a>
    <nav class="menu">
        <ul type="none">
            <li><a href="#">Biblioteca</a></li>
            <li><a href="#">Juegos</a></li>
            <li><a href="#">Figuras</a></li>
            <li><a href="#">Buscar</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign-Up</a></li>
        </ul>
    </nav>
  </header>
  <div>
    <img class="banner" src="/img/img-home-banner.jpg">
  </div>
  <main>
    <div class="contenedor">
      <div class="img-contenedor">
        <img id="producto" src="/img/spiderman.jpg" alt="spiderman">
      </div>
      <div class="description">
        <div class="titulo-descripcion">
          <h3>Spiderman edicion Gold</h3>
          <p>Coleccion limitada de unas de las artes mas prestigiadas de stanLee</p>
          <a href="#">otro producto de misma coleccion</a>
          <br>
          <a href="#">otro producto del mismo autor</a>
          <br>
          <button class="button-quiero-coleccion">Si quiero inscribirme en esta coleccion</button>
        </div>
        <div class="especificacion">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque repudiandae nam quisquam laboriosam,
            pariatur ratione blanditiis nesciunt aut molestiae quod repellat minima optio ex quaerat excepturi quo illo
            perspiciatis dignissimos.</p>
        </div>
        <div class="medidas">
          <p>Ancho: <span>170mm</span></p>
          <p>Largo: <span>270mm</span></p>
          <p>Peso: <span>250gr</span></p>
        </div>
        <div>
          <button class="button-preventa">PREVENTA</button>
        </div>
        <div>
          <span class="precio-regular">7,29€ </span><span class="precio-oferta">5,99€</span>
        </div>
        <div>
          <button class="button-stock">Si, quiero que me avises cuando haya Stock</button>
        </div>
        <div>
          <button class="button-cesta">
            Añadir a la Cesta
          </button>
        </div>
      </div>
    </div>
    </div>
  </main>
  <section class="footer">
    <div class="social">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-snapchat"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </ul>
    <p class="copyright">Grupo 02 La-Unión @ 2022</p>
</section>
</body>

</html>