*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main__container {
    text-decoration: none;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: 1px 2px black;
    transition: color 200ms;
    background-image: url('/img/erik-mclean-LSPUdV6IWsY-unsplash.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
}

.Contenedor-formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 7%;
}

.main__form{
    border: 2px solid #2f528f;
    border-radius: 10px;
    background-color: rgba(1000, 1000, 1000, 0.75);
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.tituloProducto{
    color: black;
    font-weight: 900;
    text-shadow: none;
    margin-bottom: 10px;
}
.img-contenedor-editar {
    width: 20%;
    height: 20%;
    margin: auto;
}
#producto-editar {
    width: 100%;
}
.inputFormulario input{
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    text-align: center;
}

/* Estilo para los errores en los formularios de creacion y edicion de productos */ 
.invalid-value {
    border: 1px solid #F11E77;
}
.text-danger{
    color:#dc3545!important;
    text-shadow: none;
    margin-top: -2px;
}
.inputFormulario{
    position: relative;
    width: 100%;
}

.Contenedor-formulario textarea{
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}


input .main__container{

    transition: font-size 200ms;
    margin: 20px;
}

.labelImagen{
    color: black;
    text-shadow: none;
    font-weight: 1000;
    margin: 10px;
}
.filePhoto input[type="file"]{
    display: block;
    margin: auto;
    color: black;
    margin-bottom: 10px;
}

.list {
    padding: 40px 15px;
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    bottom: auto;
    flex: end;

}

.enviar-form-abm{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

.enviar-form-abm:hover{
    background-color: blueviolet;
    color: yellow;
}

.editar-form-abm{
    background-color: rgb(194, 204, 86);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

.editar-form-abm:hover{
    background-color: blueviolet;
    color: white;
    border: solid 2px red;
    cursor: pointer;
}

.eliminar-form-abm{
    background-color: red;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}
.eliminar-form-abm:hover{
    background-color: blueviolet;
    color: white;
    border: solid 2px red;
    cursor: pointer;
}

