*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* HEADER */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-image: url("/img/fondo-header.jpg");
    background-size: contain;
    top: 0;
}
.icono {
    width: 100%;
    text-align: center;
    max-width: 250px;
}
.icono img {
    width: 100%;
}
.hamburger-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 4%;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.menu {
    width: 100%;
}
.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-shadow: 1px 2px black;
    cursor: pointer;
    transition: color 200ms;
}
.menu ul li a:hover {
    color: #ffb600;
}
/*menu desplegable*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(168,53,54,0.7);
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    padding: 0px 5px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.lista-desplegable {
    display: block;
    list-style: none;
}
.menu-usuario {
    display: flex;
    align-items: center;
}

/*--------------------------------------------------------*/
/* MAIN */
.mainlog {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
}
.mainreg {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
}
.espacio-imagen, 
.espacio-imagen-login {
    position: absolute;
    width: 50%;
    height: 100%;
}
.espacio-imagen img, 
.espacio-imagen-login img  {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.espacio-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 150px;
}
.formulario {
    width: 50%;
}
.formulario2 {
    width: 50%;
}

#ErrFormulario{
    color: red;
    font-weight: 700;
    margin: 3px;
}

h2 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: yellow;
    text-shadow: 1px 2px #FF0000;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
}
.inputBx {
    margin-bottom: 20px;
}
.inputBx label {
    color: #2a7194;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.inputIcon {
    position: relative;
    width: 100%;
}
input::placeholder{
    color: red;
    font-weight: 700;
    font-style: italic;
}
.msgError{
    font-size: 10px;
    color: red;
    font-weight: 700;
}
.inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #2a7194;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
.inputBx input[type="submit"] {
    background: #251854;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 300;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;
}

/* usuario */
.inputBxUser {
    margin-bottom: 20px;
}
.inputBxUser label {
    color: #2a7194;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.inputBxUser input {
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #2a7194;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: white;
    border-radius: 30px;
}
.inputBxUser input[type="submit"] {
    background: #251854;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 300;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;
}
input[type="file"]{
    display: none;
}
input[type="submit"]:hover{
    background-color: #fecc4f;
    color: white;
}
.inputBx p {
    color: #607d8b;
    font-size: 16px;
}
.inputBx p a{
    color: #03264C;
    font-size: 16px;
}
.main__form-upload {
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    background-color: #ffffff;
    color: #2a7194;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    border: 1px solid #2a7194;
}
.main__form-upload:hover {
    background-color: #fecc4f;
    color: white;
}
/* formulario inicio checkbox */
.remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/* iconos al chequear respuestas validas en el formulario
.inputBx .valid-value {
    border: 1px solid #94cb91;
}
.inputBx .invalid-value {
    border: 1px solid #f11e77;
}
.triangleWarning {
    display: block;
    position: absolute;
    font-size: 16px;
    color:  #f11e77;
    top: 10px;
    right: 10px;
}
circle-check {
    display: block;
    position: absolute;
    font-size: 16px;
    color: #94cb91;
    top: 10px;
    right: 10px;
}
.fa-triangle-exclamation, .fa-circle-check {
    display: none;
}
*/

/* navegacion moviles bajas resoluciones */
@media (min-width: 350px) {
    .hamburger-button {
        display: none;
    }
    
}
@media (max-width: 350px) {
    .menu {
        display: none;
    }
}
@media (max-width: 470px) {
    header {
        background-image: url("/img/fondo-header.jpg");
        background-size: cover;
    }
}
@media (min-width: 576px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .icono {
        width: 40%;
    }
    .menu {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .espacio-imagen {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .espacio-imagen-login {
        position: absolute;
        width: 100%;
        height: 100vh;
    }
    .espacio-formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .formulario {
        width: 100%;
        padding: 6%;
        background-color: rgba(255 255 255 /0.9);
        margin: 50px;
        font-size: 10px;
    }
    .formulario2 {
        width: 100%;
        padding: 6%;
        /* background-color: rgba(255 255 255 /0.9); */
        font-size: 15px;
        align-items: center;
    }
}
@media (min-width: 769px) {
    header {
        font-size: 22px;
    }
    .menu ul li a {
        transition: font-size 200ms;
    }
    .menu ul li a:hover {
        font-size: 30px;
    }
    .mainlog {
        height: 100vh;
    }
    .mainreg {
        height: auto;
    }
    .espacio-imagen, 
    .espacio-imagen-login {
        position: absolute;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .espacio-formulario {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        z-index: 1;
        margin: 0;
        margin-top: 70px;
    }
    .formulario {
        width: 30%;
        margin-right: 10%;
        padding-bottom: 30px;
    }
    .formulario2 {
        width: 30%;
        margin-right: 10%;
        padding-bottom: 30px;
    }
}


/* FOOTER */
.icons-footer{
    text-align: center;
}

.icons-footer i{
    padding: 15px;
}

/* FOOTER  */
.footer {
    padding: 40px 0;
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    width: 100%;
  }
  
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
  }
  
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  
  .footer .social a:hover {
    opacity: 0.9;
  }
  
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    color: white;
  }
  
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul a:hover {
    opacity: 1;
  }
  
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: white;
  }
