<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/headUsers.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    
    <section class="main">
        <div class="espacio-imagen">
            <img src="/img/fondo-reglog7.png">
        </div>
        <div class="espacio-formulario">
            <div class="formulario">
                <h2>Registro</h2>
                <form action="/users/register" enctype="multipart/form-data" method="post">
                    <div class="inputBx">
                        <label>Usuario</label>
                        <div class="inputIcon">
                            <input type="text" name="user" id="user">
                        </div>
                    </div>

                    <div class="inputBx">
                        <label>Nombre(s)</label>
                        <div class="inputIcon">
                            <input type="text" name="name" id="name" required>
                        </div>
                    </div>

                    <div class="inputBx">
                        <label>Apellido(s)</label>
                        <div class="inputIcon">
                            <input type="text" name="lastName" id="lastName" required>
                        </div>
                    </div>

                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <div class="inputIcon">
                            <input type="email" name="email" id="email" required>
                        </div>
                    </div>

                    <div class="inputBx">
                        <label>Contraseña</label>
                        <div class="inputIcon">
                            <input type="password" name="password" id="password" required>
                        </div>
                    </div>

                    <div class="inputBx">
                        <label>Confirmar contraseña</label>
                        <div class="inputIcon">
                            <input type="password" name="confirmPassword" id="confirmPassword">
                        </div>
                    </div>

                    <div class="inputBx">
                        <div class="inputIcon">
                            <label for="avatar" id="avatarL" class="main__form-upload">Imagen de perfil</label>
                        </div>
                        <input type="file" name="avatar" id="avatar">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Crear cuenta">
                    </div>
                    <div class="inputBx">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                </form>
            </div>
        </div>
        </form>
    </section>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>