<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head.ejs') %>
<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    <!-- Container 
    <main>
        <div>
            <h2>Hi <//%= user.name %> </h2>
            <img src="/imgUsers/<//%= user.avatar %> ">
            <br>
            <br>
            <p><//%= user.email %></p>
        </div>
    </main>-->
	<!-- //Container -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>