*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* HEADER */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    background-image: url("/img/fondo-header.jpg");
    background-size: contain;
    top: 0;
}
.icono {
    width: 100%;
    text-align: center;
    max-width: 250px;
}
.icono img {
    width: 100%;
}
.hamburger-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 4%;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.menu {
    width: 100%;
}
.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/*--------------------------------------------------------*/

/* navegacion moviles bajas resoluciones */
@media (min-width: 350px) {
    .hamburger-button {
        display: none;
    }
    
}
@media (max-width: 350px) {
    .menu {
        display: none;
    }
}
@media (max-width: 470px) {
    header {
        background-image: url("/img/fondo-header.jpg");
        background-size: cover;
    }
}
@media (min-width: 576px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 2;
        box-shadow: 0px 6px 7px rgb(14 2 2);
    }
    .icono {
        width: 40%;
    }
    .menu {
        width: 60%;
    }
}
@media (min-width: 769px) {
    header {
        font-size: 22px;
    }
}
